.box-swiper2 {
  position: relative;
  .box-swiper1__swiper-button {
    position: absolute;
    top: 50%;
    z-index: 5;
    transform: translateY(-50%);
    &.box-swiper2-next {
      left: -5px;
    }
    &.box-swiper2-prev {
      right: -5px;
    }
  }
  &__swiper-slide {
    position: relative;
    &::after {
      border-radius: 16px;
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--color-text-white);
      opacity: 0.2;
    }
    .btn1 {
      pointer-events: none;
    }
    &.swiper-slide-active {
      &::after {
        display: none;
      }
      .btn1 {
        pointer-events: auto;
      }
    }
  }
}