.box-video {
  &__list {
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  li {
    display: flex;
  }
  &__wrapp-video{
    position: relative;
    width: 100%;
    video, iframe {
      border-radius: 20px;
      width: 100% !important;
      height: 100% !important;
      max-height: 330px;
      object-fit: cover;
    }
  }
}

@media (max-width: 950px) {
  .box-video {
    &__list {
      grid-template-columns: 1fr;
      .box-video__wrapp-video {
        position: relative;
        &::before {
          content: "";
          display: block;
          padding-top: 50%;
        }
        iframe, video {
          position: absolute;
          inset: 0;
          max-height: 100%;
        }
      }
    }
  }
}

@media (max-width: 669px) {
  .box-video {
    &__list {
      margin-bottom: 30px;
    }
  }
}