.box-pro-line {
  &__content {
    min-height: 360px;
    display: flex;
    gap: 33px;
    flex-direction: column;
    justify-content: end;
    padding: 64px;
    position: relative;
    border-radius: 32px;
    overflow: hidden;
    &::before {
      content: "";
      z-index: 1;
      position: absolute;
      inset: 0;
      background-image: linear-gradient(272deg, rgba(0, 0, 0, 0) -3.5%, rgba(34, 34, 34, .94) 99.5%);
    }
  }
  &__img, picture {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    max-width: 650px;
    position: relative;
    z-index: 1;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 96px;
    line-height: 70%;
    color: var(--uniteki-ru-vermilion);
  }
  p{
    max-width: 450px;
    position: relative;
    z-index: 1;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    color: var(--color-text-white);
  }
  &__btn-group {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
  }
}
.box-pro-line-1 {
  .box-pro-line__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 83%;
    color: var(--color-text-white);
    span {
      color: var(--uniteki-ru-vermilion);
    }
  }
}
.box-pro-line-2 {
  .box-pro-line__title {
    text-transform: uppercase;
  }
}

@media (max-width: 1030px) {
  .box-pro-line {
    &__title {
      font-size: 48px;
    }
  }
}

@media (max-width: 950px) {
  .box-pro-line {
    &__content {
      padding: 30px 30px 230px;
    }
  }
}

@media (max-width: 669px) {
  .box-pro-line {
    &__content {
      gap: 30px;
    }
    &__title {
      font-size: 36px;
    }
    p {
      font-size: 14px;
      line-height: 129%;
    }
    &__btn-group {
      gap: 17px;
      .btn1 {
        width: 100%;
      }
      .btn8 {
        width: 100%;
      }
    }
  }
  .box-pro-line-1 {
    .box-pro-line__title {
      font-size: 36px;
    }
  }
}