.box-orders-top-line {
  border: 5px solid var(--color-text-black);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-background-card);

  &__left {
    display: flex;
    align-items: end;
    gap: 50px;
  }

  &__order-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    p:first-child {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 20px;
      line-height: 60%;
      text-transform: uppercase;
      color: var(--color-text-black);
    }

    p:last-child {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 20px;
      line-height: 60%;
      text-transform: uppercase;
      color: var(--color-text-black);
    }
  }

  &__date-box {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text-gray);
  }

  &__right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    span {
      display: none;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 12px;
      padding: 0 15px 0 0;
      text-transform: uppercase;
      background-position: center right;
      background-repeat: no-repeat;

      &.active {
        display: inline-block;
      }
    }

    .green {
      background-image: url("../img/current-orders/green.svg");
      color: var(--color-text-green);
    }

    .orange {
      background-image: url("../img/current-orders/orange.svg");
      color: var(--color-text-orange);
    }

    .yellow {
      background-image: url("../img/current-orders/yellow.svg");
      color: var(--color-background-yellow);
    }
  }
}