.catalog-sec1 {
  &__top-line {
    margin-bottom: 10px;
    .btn2 {
      &__text {
        white-space: nowrap;
      }
    }
  }
  &__top-line-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    li {
      display: flex;
    }
  }
  &__content {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__aside {
    width: calc(310 / 1310 * 100%);
  }

  &__title {
    margin-bottom: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 25px;
    line-height: 200%;
    text-transform: uppercase;
    color: var(--akcent);
  }

  &__products {
    flex: 1;
  }

  &__products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 60px;
  }

  &__list-catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

    .card1__box-info {
      min-width: auto;
    }

    li {
      border-radius: 20px;
      overflow: hidden;
      outline: 5px solid transparent;
      position: relative;
      transition: outline 0.4s ease-in-out;

      &:hover {
        outline-color: var(--color-text-black);
      }

      .card1 {
        padding: 100px 10px 10px;
      }

      .card1__box-info {
        padding: 15px 10px 10px;
      }

      .card1__title {
        margin-bottom: 10px;
        font-size: 20px;
      }

      .btn1__text {
        padding: 5px 15px;
        font-size: 10px;
      }

      .btn1__box-svg {
        padding: 0 6px;
        svg {
          width: 11px;
          height: 10px;
        }
        
      }
    }
  }
}

@media (max-width: 1200px) {
  .catalog-sec1 {
    &__list-catalog {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 1030px) {
  .catalog-sec1 {
    &__content {
      flex-direction: column;
    }

    &__aside {
      width: 100%;
    }
  }
}

@media (max-width: 950px) {
  .catalog-sec1 {
    &__top-line-list {
      flex-wrap: nowrap;
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
  
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__list-catalog {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 669px) {
  .catalog-sec1 {
    &__products-list {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    &__list-catalog {
      grid-template-columns: 1fr;
    }
  }
}