.catalog-sec1 {
  &__top-line {
    margin-bottom: 10px;
    .btn2 {
      &__text {
        white-space: nowrap;
      }
    }
  }
  &__top-line-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    li {
      display: flex;
    }
  }
  &__banner-box {
    margin-bottom: 40px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    picture {
      display: flex;
    }
    img,picture {
      max-height: 200px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__products-list {
    margin-bottom: 50px;
    display: flex;
    column-gap: calc(10 / 1310 * 100%);
    row-gap: 30px;
    flex-wrap: wrap;
    li {
      width: calc(320 / 1310 * 100%);
    }
  }
  &__bottom-line {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .btn3__btn {
      min-height: 43px;
      min-width: 218px;
    }
  }
  &__link-download {
    position: absolute;
    right: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-text-black);
    transition: color 0.4s ease-in-out;

    &:focus,&:focus-visible {
      outline: none;
    }
    &:focus-visible,&:hover,&:active {
      color: var(--color-btn-gray2);
    }
  }
}

@media (max-width: 1200px) {
  .catalog-sec1 {
    &__products-list {
      margin-bottom: 30px;
      column-gap: calc(10 / 1160 * 100%);
      row-gap: 20px;
      justify-content: space-between;
      li {
        width: calc(380 / 1160 * 100%);
      }
    }
    &__bottom-line {
      .btn3__btn {
        max-width: 218px;
      }
    }
  }
}

@media (max-width: 900px) {
  .catalog-sec1 {
    &__products-list {
      column-gap: calc(10 / 840 * 100%);
      row-gap: 10px;
      li {
        width: calc(415 / 840 * 100%);
      }
    }
    &__banner-box {
      border-radius: 10px;
      margin-bottom: 10px;
    }
    &__bottom-line {
      flex-direction: column;
      gap: 10px;
    }
    &__link-download {
      position: static;
    }
  }
}

@media (max-width: 669px) {
  .catalog-sec1 {
    &__banner-box {
      display: none;
    }
  }
}

@media (max-width: 520px) {
  .catalog-sec1 {
    &__products-list {
      column-gap: 0;
      row-gap: 10px;
      li {
        width: 100%;
      }
    }
  }
}