.contacts-sec1 {
  &__top {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: var(--color-text-black);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__address {
    width: 80%;
    font-style: normal;
    display: flex;
    gap: 40px;
    justify-content: space-between;

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        padding-left: 20px;
        position: relative;
        &::before {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          content: "";
          display: inline-block;
          width: 8px;
          min-width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: var(--akcent);
        }

        a {
          transition: color 0.4s ease-in-out;
          &:focus,
          &:focus-visible {
            outline: none;
          }

          &:focus-visible,
          &:hover,
          &:active {
            color: var(--color-text-gray);
          }
        }
      }
    }
  }

  &__map {
    border-radius: 20px;
    margin-bottom: 40px;
    min-height: 300px;
    background-color: var(--color-background-card);
  }

  &__title-form {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 32px;
    letter-spacing: .03em;
    color: var(--color-text-black);
  }

  &__form {
    .personal-data__submit{
      max-width: 300px;
    }
  }

  &__form.personal-data__form {
    gap: 20px;
  }
}

@media (max-width: 1030px) {
  .contacts-sec1 {
    &__top {
      gap: 30px;
      margin-bottom: 30px;
    }

    &__address {
      flex-direction: column;
      gap: 10px;
    }
  }
}