.filters {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px;
  border-radius: 20px;
  background-color: var(--gray10);
  &__top-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .filter-point {
      white-space: nowrap;
      border-radius: 10px;
      display: flex;
      padding: 9px 20px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      color: var(--color-text-black);
      background-color: var(--color-text-white);
      transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
      &:focus,&:focus-visible {
        outline: none;
      }
      &:focus-visible,&:hover,&:active {
        color: var(--color-text-white);
        background-color: var(--akcent);
      }
    }
  }
  &__form {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__bottom-list {
    display: flex;
    gap: 10px;
  }
  &__btn-group {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__submit {
    min-width: 200px;
    min-height: 44px;
    display: inline-block;
  }
}

@media (max-width: 1030px) {
  .filters {
    &__top-list {
      li {
        flex: 1;
      }
      .filter-point {
        justify-content: center;
      }
    }
    &__bottom-list {
      flex-wrap: wrap;
      li {
        flex: 1;
        .drop-down3 {
          &__btn {
            justify-content: center;
            width: 100%;
          }
          &__list {
            width: 100%;
            padding: 10px;
            li {
              text-align: center;
            }
          }
        }
      }
    }
    &__form {
      flex-direction: column;
    }
    &__submit {
      max-width: 200px;
    }
    &__btn-group {
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
    }
    
  }
}