.guarantee-sec4 {
  .delivery-sec2__list {
    li:first-child, li:nth-child(2) {
      grid-column: span 2;
    }
  }
}

@media (max-width: 1030px) {
  .guarantee-sec4 {
    .delivery-sec2__list {
      li:first-child, li:nth-child(2) {
        grid-column: span 1;
      }
    }
  }
}