.main-sec1 {
  position: relative;
  padding: 0;

  &__container {
    pointer-events: none;
    position: relative;
    z-index: 1;
  }

  &__content {
    position: relative;
    padding: 160px 60px 110px;
  }

  &__title {
    max-width: 550px;
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 108%;
    text-transform: uppercase;
    color: var(--color-text-white);
    span {
      color: var(--akcent);
    }
  }
  &__desc-add {
    max-width: 570px;
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: var(--uniteki-ru-white);
  }

  &__swiper {
    border-radius: 32px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 65px;
    right: 65px;
    height: 100%;
  }

  &__swiper-slide {
    height: auto;
    box-sizing: border-box;
    .slide-hero-video {
      display: none;
    }
    &.video {
      .slide-hero {
        display: none;
      }
      .slide-hero-video {
        height: 100%;
        display: flex;
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__swiper-slide-2 {
    height: auto;
    margin: auto;
  }

  &__swiper-pagination {
    pointer-events: auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    bottom: 100px !important;
    & .swiper-pagination-bullet {
      border-radius: 100%;
      width: 11px;
      height: 11px;
      margin: 4px !important;
      transition: border 0.4s ease-in-out;
      opacity: 1;
      background-color: var(--color-text-white);
      transition: background-color 0.4s ease-in-out;
    }

    & .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: var(--akcent);
    }
  }
}

#swiper-4 .swiper-wrapper,
#swiper-8 .swiper-wrapper {
  transition-timing-function: linear !important;
}

@media (max-width: 1200px) {
  .main-sec1 {
    &__swiper {
      left: 20px;
      right: 20px;
    }
  }
}


@media (max-width: 1030px) {
  .main-sec1 {
    &__marker {
      display: none;
    }

    &__content {
      padding: 60px 30% 90px 30px;
    }

    /*&__swiper-slide-2 {
      margin-top: 0;
      margin-bottom: auto;
    }*/
  }
}

@media (max-width: 950px) {
  .main-sec1 {
    
  }
}

@media (max-width: 669px) {
  .main-sec1 {
    padding-top: 0;
    padding-bottom: 0;
    &__content {
      padding: 60px 30px 160px 30px;
      .btn1 {
        width: 100%;
      }
    }

    &__title {
      margin-bottom: 26px;
      font-size: 24px;
    }

    &__desc {
      margin-bottom: 26px;
      font-size: 14px;
      line-height: 171%;
    }

    &__swiper-pagination {
      padding: 0 20px;
      text-align: center;

      .swiper-pagination-bullet {
        background-color: var(--color-text-white);
      }
    }
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
  }

  .main-sec1__swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 4px !important;
  }
}