.product-card-sec1 {
  &__content {
    display: flex;
    gap: clamp(20px, 2vw, 55px);
    margin-bottom: 70px;
  }

  &__box-left {
    width: calc(500 / 1310 * 100%);
  }

  &__box-right {
    flex: 1;
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }

  &__swiper.swiper-5 {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--fon);
  }

  &__swiper-slide {
    box-sizing: border-box;
    min-width: 80px;
    height: auto;
  }

  &__swiper.swiper-6 {
    .product-card-sec1__box-img{
      border: 1px solid var(--fon);
      border-radius: 10px;
    }
  }

  &__box-img {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    picture {
      display: flex;
    }

    img {
      display: flex;
    }
  }

  &__box-swiper {
    display: flex;
    gap: 10px;
  }

  &__button-next, &__button-prev {
    border-radius: 10px;
    min-width: 20px;
    color: var(--color-text-black);
    background-color: var(--fon);
    transition: opacity 0.4s ease-in-out;

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:hover,
    &:focus-visible,
    &:active {
      opacity: 0.7;
    }

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.35;
    }
  }

  &__top-line {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 14px;
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 75%;
    color: var(--akcent);
  }

  &__group-number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      text-align: right;
    }
    .number {
      color: var(--ui);
    }
    .status {
      .green {
        color: var(--green);
      }
      .red {
        color: var(--uniteki-ru-scarlet);
      }
      span {
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }

  &__group-btn {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  &__desc-top {
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--ui);
  }

  &__box-color {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__hidden-swiper-mobil {
    display: none;
  }

  &__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-black-2);
    width: 42px;
    min-width: 42px;
    height: 42px;
    border-radius: 100%;
    border: 1px solid var(--color-text-black-2);
    transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;

    span {
      display: flex;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: var(--color-text-gray);
      border-color: var(--color-text-gray);
    }
  }

  &__box-btn-decs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;

    p {
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      padding-right: 10px;

      span {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 28px;
        letter-spacing: -0.05em;
        color: var(--color-text-black);
      }

      span:nth-child(2) {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 26px;
        letter-spacing: -0.05em;
        color: var(--color-text-white);
      }

      span:last-child {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        letter-spacing: -0.02em;
        text-decoration: line-through;
        color: var(--ui);
      }
    }

    .btn3 {
      height: auto;

      &__btn {
        max-height: 100%;
      }
    }

    .btn5 {
      width: 171px;
    }
  }

  &__group-btn-counter {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__equipment {
    margin-bottom: 30px;
  }

  &__equipment-desc {
    margin-bottom: 15px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text-black);
  }

  &__equipment-list {
    flex-wrap: wrap;
    display: flex;
    gap: clamp(5px, 2vw, 17px);

    li.selected {
      button {
      background-color: var(--knopka);
      }
    }
  }

  &__box-characteristic {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__table {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__table-row {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid rgba(252, 69, 23, 0.2);

    p {
      flex: 1;

      &:first-child {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 129%;
        color: var(--akcent);
      }

      &:last-child {
        display: flex;
        flex-direction: column;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        text-align: end;
        align-items: end;
        color: var(--ui-2);
        span {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 14px;
          color: var(--ui-2);
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  &__list-tabs {
    display: flex;
    gap: 1px;
  }

  &__item-tab {
    flex: 1;
  }

  &__detailed-info {
    padding-top: 40px;
  }

  &__box-content {
    .box-video__list {
      display: flex;
    }
    display: none;
    &.active {
      display: block;
    }
    h3,h2 {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 15px;
      line-height: 120%;
      color: var(--color-text-black);
    }
    p {
      margin-bottom: 20px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      color: var(--color-text-black);

      span {
        color: var(--color-text-black) !important;
      }
    }

    div {
      color: var(--color-text-black);
    }

    p:last-child {
      margin-bottom: 0;
    }

    .product-card-sec1__box-characteristic p {
      margin-bottom: 0;
    }

    ul li {
      color: var(--color-text-black) !important;
      span {
        color: var(--color-text-black) !important;
      }
    }

    .product-card-sec1__box-characteristic {
      max-width: 912px;
      .product-card-sec1__table {
        gap: 0;
      }
      .product-card-sec1__table-row {
        border: none;
        padding: 10px;

        &:nth-child(odd) {
          background-color: var(--fon);
        }
    
        p {
          flex: 1;
    
          &:first-child {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 15px;
            line-height: 120%;
            color: var(--color-text-black);
          }
    
          &:last-child {
            text-align: start;
            align-items: start;
            display: flex;
            flex-direction: column;
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 15px;
            line-height: 120%;
            color: var(--color-text-black);
            span {
              font-weight: 700;
              font-size: 15px !important;
            }
          }
        }
      }
    }

    .box-video__wrapp-video video {
      max-height: 665px;
    }
  }

  &__box-content-list {
    li {
      width: 100%;
    }
  }

  &__box-content-container {
    display: flex;
    gap: 40px;
  }

  &__box-content-left {
    width: calc(620 / 1310 * 100%);
  }

  &__box-content-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    img {
      max-width: 316px;
    }
  }

  &__btn-fasteners {
    border-radius: 10px;
    white-space: nowrap;
    user-select: none;
    padding: 8px 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: var(--color-text-white);
    background-color: var(--akcent);
    transition: color .4s ease-in-out, background-color .4s ease-in-out;

    /*&.active {
      color: var(--color-text-black);
      background-color: var(--color-background-yellow);
    }*/

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible,
    &:hover,
    &:active {
      background-color: var(--knopka);
    }
  }
}

.swiper-5 {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .product-card-sec1 {
    &__box-content-container {
      gap: 10px;
      justify-content: space-between;
    }
    &__box-content-left {
      width: 100%;
    }
    &__box-content-right {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 1030px) {
  .product-card-sec1 {
    &__content {
      margin-bottom: 40px;
      flex-direction: column-reverse;
    }
    &__hidden-swiper-mobil {
      display: block;
      margin-bottom: 20px;
    }
    &__btn {
      width: 24px;
      min-width: 24px;
      height: 24px;
      border: none;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 20px;
      margin-right: 0;
    }
    &__box-img::before {
      padding-top: 50%;
    }
    &__box-left {
      display: none;
    }
    &__box-right {
      gap: 10px;
      flex-direction: column-reverse;
    }
    &__box-content-right {
      display: none;
    }
    &__box-btn-decs {
      margin-bottom: 20px;
      max-width: 650px;
      flex-wrap: wrap;
      .counter1 {
        max-width: 107px;
      }
    }
    &__list-tabs {
      gap: 10px;
      flex-wrap: wrap;
    }
    &__group-btn {
      flex-direction: row;
      justify-content: end;
    }
  }
}

@media (max-width: 669px) {
  .product-card-sec1 {
    &__title {
      font-size: 24px;
    }
    &__detailed-info {
      padding: 15px 0 0 0;
    }
    &__box-btn-decs {
      .btn3 {
        max-width: 235px;
      }
    }
  }
}