.static-page-sec1 {
  background-color: var(--color-background-personal);
  &__content {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: var(--color-text-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    span {
      color: var(--color-text-black) !important;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        width: 85%;
        padding-left: 20px;
        position: relative;
        &::before {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          content: "";
          display: inline-block;
          width: 8px;
          min-width: 8px;
          height: 8px;
          border-radius: 100%;
          background-color: var(--color-text-gray);
        }

        a {
          transition: color 0.4s ease-in-out;
          &:focus,
          &:focus-visible {
            outline: none;
          }

          &:focus-visible,
          &:hover,
          &:active {
            color: var(--color-text-black);
          }
        }
      }
    }

    h1, h2, h3, h4 {
      margin-bottom: 10px;
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 32px;
      letter-spacing: .03em;
      color: var(--color-text-black);
    }
  }
}

@media (max-width: 1030px) {
  .static-page-sec1 {
    &__content {
      padding: 16px 11px;
    }

    ul {
      li {
        width: 100%;
      }
    }
  }
}