.btn-equipment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible,
  &:hover,
  &:active {
    .btn-equipment__box-img {
      border-color: var(--akcent);
    }
  }

  &__box-img {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    width: 88px;
    min-width: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.4s ease-in-out;
    border: 1px solid var(--border2);

    picture {
      display: flex;
    }

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text-black);
  }
}