.btn-catalog {
  display: flex;
  gap: 5px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  background-color: var(--akcent);
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:focus-visible,
  &:active {
    .btn-catalog__icon {
      span {
        transform: scale(1.5);
      }
    }
    border-color: var(--knopka);
  }

  &.active {
    .btn-catalog__icon {
      span {
        transform: scale(1.5);
      }
    }
  }

  &__icon {
    width: 10px;
    min-width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;

    & span {
      width: 3px;
      min-width: 3px;
      height: 3px;
      background-color: var(--color-text-white);
      transition: background-color 0.4s ease-in-out, transform 0.5s ease-in-out;
    }

  }

  &__text {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: color 0.4s ease-in-out;
    color: var(--color-text-white);
  }
}

@media (max-width: 1030px) {
  .btn-catalog {
    padding: 10px;
  }
}