.btn4 {
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: var(--color-text-white);
  background-color: var(--color-text-black);
  transition: background-color 0.4s ease-in-out;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible,
  &:hover,
  &:active {
    background-color: var(--color-text-path);
  }
}