.btn6 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid var(--color-text-black);
  white-space: nowrap;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-black);
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover,
  &:focus-visible,
  &:active {
    color: var(--akcent);
    border-color: var(--akcent);
  }

  &.active {
    color: var(--akcent);
    border-color: var(--akcent);
  }
}

@media (max-width: 1030px) {
  .btn6 {
    padding: 20px;
    font-size: 20px;
  }
}