.card6 {
  height: 100%;
  position: relative;
  padding-left: 33px;
  &__img {
    width: 58px;
    min-width: 58px;
    height: 58px;
    border-radius: 100%;
    outline: 4px solid var(--color-text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 33px;
    top: 50%;
    background-color: var(--akcent);
    transform: translate(-50%, -50%);
  }
  &__box-text {
    white-space: nowrap;
    text-align: center;
    height: 100%;
    padding: 24px 33px 24px 45px;
    border-radius: 16px;
    background-color: var(--gray9);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-text-black);
  }
  
}