.checkbox2 {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible,
  &:hover,
  &:active {
    span {
      color: var(--color-text-white);
      background-color: var(--color-text-black);
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 0;
    opacity: 0;
  }

  &__input:checked + span {
    color: var(--color-text-white);
    background-color: var(--color-text-black);
  }

  span {
    user-select: none;
    padding: 8px 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: var(--color-text-white);
    background-color: var(--knopka);
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  }
}