<div class="box-swiper1__btn-swiper-group">
  <button class="box-swiper1__swiper-button @@classNext btn-reset">
    <span class="box-swiper1__box-svg">
      <svg width="22" height="20" viewBox="0 0 22 20" fill="none">
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </span>
  </button>
  <button class="box-swiper1__swiper-button @@classPrev btn-reset">
    <span class="box-swiper1__box-svg">
      <svg width="22" height="20" viewBox="0 0 22 20" fill="none">
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </span>
  </button>
</div>