<div class="card4 new-style">
  <div class="card4__top-box">
    <h3 class="card4__title">
      erger rgerwg
    </h3>
    <a href="#">
      <img class="card4__img" src="@@urlImg" alt="img">
    </a>
  </div>

  <div class="card4__bottom-box">
    <p class="card4__desc">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quod ea nulla nam doloribus officiis vel quas?
      Assumenda molestias porro, laboriosam beatae itaque nisi est dolor nihil, et ipsum voluptas?
    </p>
    <div class="card4__btn-group">
      <div class="card4__box-btn-group">
        @@include('./btn1.html',{"text":"Унать больше"})
      </div>
      <p>
        <time datetime="22.05.2023">22.05.2023 06:44</time>
      </p>
    </div>
  </div>
</div>