<div class="checkbox1">
  <label class="checkbox1__label" for="@@idInput">
    <input class="checkbox1__input" type="checkbox" id="@@idInput">
    <span class="checkbox1__box">
      <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.8 1.94995L2.72868 7.04995L1 5.3115" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </span>
    <span class="checkbox1__text">
      @@text
    </span>
  </label>
</div>