<div class="drop-down1 drop-down2">
  <button class="drop-down1__btn drop-down-btn btn-reset" id="@@idBtn">
    <span>@@text</span>
    <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1L6.00081 5.58L11 1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
  <ul class="drop-down1__list list-reset" data-drop-id="@@idBtn">
    <li class="drop-down-item">красный</li>
    <li class="drop-down-item">коричневый</li>
    <li class="drop-down-item">ыапыпып</li>
    <li class="drop-down-item">ывпыу</li>
  </ul>
</div>