<div class="drop-down1">
  <p class="drop-down1__text">
    Упорядочить по:
  </p>
  <button class="drop-down1__btn drop-down-btn btn-reset" id="@@idBtn">
    <span>умолчанию</span>
    <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1L6.00081 5.58L11 1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </button>
  <ul class="drop-down1__list list-reset" data-drop-id="@@idBtn">
    <li class="drop-down-item">возрастанию</li>
    <li class="drop-down-item">убыванию</li>
    <li class="drop-down-item active">умолчанию</li>
  </ul>
</div>