<div class="list-pages">
  <!--При добавлении на ссылку класса "disabled" становятся не активны-->
  <a href="#" class="list-pages__btn2 disabled left">
    >
  </a>
  <ul class="list-pages__list list-reset">
    <!--При добавлении на ссылку класса "active" становятся активна-->
    <li>
      <a class="active" href="#">1</a>
    </li>
    <li>
      <a href="#">2</a>
    </li>
    <li>
      <a href="#">3</a>
    </li>
    <li>
      <a href="#">4</a>
    </li>
    <li>
      <a href="#">5</a>
    </li>
    <li>
      <a href="#">6</a>
    </li>
    <li>
      <a href="#">7</a>
    </li>
  </ul>
  <a href="#" class="list-pages__btn2">
    >
  </a>
</div>