<div class="list-pages">
  <!--При добавлении на ссылку класса "disabled" становятся не активны-->
  <a href="#" class="list-pages__btn1 disabled left">
    <svg width="10" height="10" viewBox="0 0 10 10" fill="none">
      <path d="M0 10L7.08333 5L0 0V10ZM8.33333 0V10H10V0H8.33333Z" fill="currentColor" />
    </svg>
  </a>
  <a href="#" class="list-pages__btn2 disabled left">
    <svg width="8" height="10" viewBox="0 0 8 10" fill="none">
      <path d="M2.0876 0L0.912598 1.175L4.72926 5L0.912598 8.825L2.0876 10L7.0876 5L2.0876 0Z" fill="currentColor" />
    </svg>
  </a>
  <ul class="list-pages__list list-reset">
    <!--При добавлении на ссылку класса "active" становятся активна-->
    <li>
      <a class="active" href="#">1</a>
    </li>
    <li>
      <a href="#">2</a>
    </li>
    <li>
      <a href="#">3</a>
    </li>
    <li>
      <a href="#">4</a>
    </li>
    <li>
      <a href="#">5</a>
    </li>
    <li>
      <a href="#">6</a>
    </li>
    <li>
      <a href="#">7</a>
    </li>
  </ul>
  <a href="#" class="list-pages__btn2">
    <svg width="8" height="10" viewBox="0 0 8 10" fill="none">
      <path d="M2.0876 0L0.912598 1.175L4.72926 5L0.912598 8.825L2.0876 10L7.0876 5L2.0876 0Z" fill="currentColor" />
    </svg>
  </a>
  <a href="#" class="list-pages__btn1">
    <svg width="10" height="10" viewBox="0 0 10 10" fill="none">
      <path d="M0 10L7.08333 5L0 0V10ZM8.33333 0V10H10V0H8.33333Z" fill="currentColor" />
    </svg>
  </a>
</div>