<div class="path">
  <div class="path__container container">
    <ul class="path__list list-reset">
      <li>
        <a href="/">
          <span>
            Главная
          </span>
        </a>
      </li>
      <li>
        <span>
          >
        </span>
        <a href="#">
          <span>
            @@text
          </span>
        </a>
      </li>
      <li>
        <span>
          >
        </span>
        <span>
          @@text1
        </span>
      </li>
    </ul>
  </div>
</div>